{% extends "base.html" %}

{% block content %}
 <div class="container text-center">
   <h1>BugBite ID</h1>
   <hr>
   <form action="{{ url_for('index') }}" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="state">State</label>
      <select class="form-control" name="state" id="state">
      {% set states = ['Alabama', 'Alaska', 'Arkansas', 'Arizona', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming', 'Washington, DC']%}
        {% for state in states %}
        <option value="{{state}}">{{state}}</option>
        {% endfor %}
      </select>
      <!--<input name="state" id="state" value="{{ request.form['state'] }}" class="btn btn-default">
      -->
      </div> 
    <div class="form-group">
      <label for="file">Upload Your Bug Bite Close-Up Picture</label>
      <input class="form-control" type="file" name="file" id="file" placeholder="file upload">
     </div>
      <button type="submit" value="Upload" class="btn btn-primary mb-2">Submit</button>
   </form>
 </div>

{% endblock %}