.logo {
    max-width:600px;
    width:100%;
}

.footer {
    font-size:14px;
    padding-top:20px;
}

.sample-pic {
    padding-right: 25%;
}

.card-img-top {
    height:auto;
    width:100%;
}

.pad-bottom {
    padding-bottom:15px;
}